<!DOCTYPE html>
<html ng-app="sierraMay">
<head>
  <title>Sierra May</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
      <section class="hero">
        <div class="row">
          <div class="large-12 columns">
            <div class="main-wrapper">
              <h1>Sierra May</h1>
              <h3>Letting Beauty go to your head</h3>
              <hr>
              <div class="row">
                <div class="large-6 columns large-centered">
                  <ul class="button-group even-4">
                    <li><a href="#" class="button">Home</a></li>
                    <li><a href="/#/categories" id= "categories-link" class="button">Categories</a></li>
                    <li><a href="#" class="button">About</a></li>
                    <li><a href="#" class="button">Contact</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns about-box">
            <div class="black-box">
              <h2>New Lux Beanies.</h2>
              <p> New special offer on luxury beanies worn by Beyonce and Kim Kardashian </p>
              <p> Use Code ILOVEBEANIES at checkout for 10% off!</p>
              <a href="#" class="secondary small button">Learn More →</a>
            </div>
          </div>
        </div>
      </section>
<section class="hero-content"> 
  <div class="row">
    <div class="large-8 columns about-content">
      <div ng-view>
        <%= yield %>
      </div>
    </div>
  </div>
</section>

      <div class="row">
        <div class="large-12 columns">
          <div class="panel">
            <div class="row">
              <div class="large-9 columns">
                <h4>Get in touch!</h4>
                <p>We're open 9am - 5pm, Monday through Saturdays.</p>
              </div>
              <div class="large-3 columns">
                <a href="#" class="radius button right">Contact Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  <footer>
    <div class="row">
      <div class="large-6 columns">
        <p>© Copyright no one at all. Go to town.</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#">About</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </footer>
</body>
</html>
